*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.box{
    height: 300px;
    width: 300px;

}
#box1{
    background-color: pink;
    padding: 40px 40px 40px 40px;
    margin: 40px 30px 30px 20px;
}
#box2{
    background-color: green;
}
#box3{
    background-color: purple;
}
#box1>#content1{
    color: magenta;
    font-weight: 700;
    font-style: italic;
 

}


